.main__title{
    padding: 20px 0;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 40px;

}
@media (max-width: 767.98px){
    .main__title {
        font-size: 48px;
        line-height: 63px;
        margin-bottom: 30px;
    }
}
