
.main__container{
  position: relative;
}

.main__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 767.98px) {
  .main__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 320px;
    justify-content: center;
    margin: 0 auto;
  }
}

.main__btn{
  position: fixed;
  z-index: 5;
  bottom: 40px;
  right: 10px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.16);
  border-radius: 48px;
  padding: 10px 20px 10px 12px;
  align-self: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.75;
  cursor: pointer;
}

.main__picture{
  padding: 0 5px;
}