/*---------------------*/

@import url("./components/Header/Header.css");
@import url("./components/Main/Main.css");
@import url("./components/Card/Card.css");
@import url("./components/Input/Input.css");
@import url("./components/Favorites/Favorites.css");


[class*="__container"] {
  max-width: 718px;
  margin: 0 auto;
  padding: 40px 15px;
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    padding: 40px 40px;
  }
}
/*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  background: #f5f5f5;
}

html {
  /* по умолчанию */
  font-size: 16px;
}
/*----------------------------------*/
body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* ------------------------------ */
.main {
  -webkit-box-flex: 1;
  /*-ms-flex-positive: 1;*/
  flex-grow: 1;
}
